.btn {
  background-color: $brand-colour;
  border: 1px solid transparent;
  color: $base-background-colour;
  cursor: pointer;
  display: inline-block;
  padding: math.div($base-spacing-unit, 4) $base-spacing-unit;
  text-align: center;
  touch-action: manipulation;
  transition: all .5s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    background-color: $base-background-colour;
    border-color: $brand-colour;
    color: $brand-colour;
    text-decoration: none;
  }

  &.is-disabled,
  &:disabled {
    opacity: .65;
    pointer-events: none;
  }
}

.btn--inverse {
  background-color: $base-background-colour;
  border: 1px solid $brand-colour;
  color: $brand-colour;

  &:hover {
    background-color: $brand-colour;
    border-color: transparent;
    color: $base-background-colour;
  }
}

.btn--block {
  display: block;
  width: 100%;

  + .btn--block {
    margin-top: math.div($base-spacing-unit, 4);
  }
}

.btn--link {
  background-color: transparent;
  color: $brand-colour;
}
