/**
 * Hamburger menu
 */

.nav-burger {
  position: fixed;
  right: $base-spacing-unit;
  top: $base-spacing-unit;
  transition: all $animation-speed $animation;
  z-index: 550;
}

.nav-burger__line {
  @include resp-max($breakpoint-md) {
    display: block;
  }  background-color: $brand-colour;
  display: none;
  height: 3px;
  margin: 8px auto;
  transition: all $animation-speed $animation;
  width: 35px;

  .nav-burger.open & {
    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(1) {
      transform: translateY(11px) rotate(45deg);
    }

    &:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}

/**
 * Navs
 */

.navbar {
  list-style: none;
  margin: 0;

  > li {
    display: inline-block;
    margin-right: $base-spacing-unit;

    &:last-child {
      margin-right: 0;
    }

    > a {
      display: block;
    }
  }
}

.navbar--header {
  // mobile nav
  @include resp-max($breakpoint-md) {
    background: $base-background-colour;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity 500ms ease;
    transition: opacity .35s ease, visibility .35s ease, width .35s ease;
    visibility: hidden;
    width: 0;

    &.open {
      opacity: 1;
      visibility: visible;
      width: 100%;
      z-index: 500;

      ul {
        left: 0;
        margin: 0;
        max-height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0;
        position: absolute;
        top: 50%;
        -webkit-touch-callout: none;
        transform: translateY(-50%);
        user-select: none;
        width: 100%;

        > li {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}
