body {
@include font-size($base-font-size);

  color: $base-colour;
  font-family: $base-font-family;
  line-height: $base-line-height;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
ol,
dl {
  margin-bottom: $base-spacing-unit;

  &:last-child {
    margin-bottom: 0;
  }
}

/**
 * Basic styles for links
 */

a {
  color: $brand-colour;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: $base-colour;
    text-decoration: underline;
  }
}

a[href^='tel'] {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
}

/**
 * Rules
 */

hr {
  background-color: $base-colour;
  height: 1px;
}
